* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    user-select: none;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navigation {
    width: 100%;
    background-color: #da847d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 100;
}

.navigation #logo {
    color: #fff;
    margin: 15px 0;
}

#logo h1 {
    font-size: 2.3rem;
    font-family: 'Cormorant Unicase';
}

#logo h1 i {
    font-size: 2.8rem;
}

#search {
    width: 450px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

#search input {
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

#search button {
    background-color: #ddd2d2;
    color: #e6897e;
    font-size: 1.5rem;
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
}

#login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

#login i.fa-shopping-bag {
    margin-right: 4rem;
    font-size: 1.5rem;
    color: #fff;
}

#login h3 {
    color: white;
    font-size: 1.3rem;
}

#login h3 i {
    margin-right: 8px;
    font-size: 1.5rem;
}

#login a {
    position: relative;
}

#cart-len {
    position: absolute;
    top: -8px;
    left: 12px;
    background-color: crimson;
    font-size: .85em;
    color: white;
    opacity: 0.8;
    overflow: hidden;
    height: 25px;
    display: flex;
    font-weight: bold;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 25px;
    border-radius: 50%;
}