* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    width: 100%;
    background-color: #F79489;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav #logo {
    color: #fff;
    margin: 15px 0;
}

#logo h1 {
    font-size: 2.5rem;
    font-family: 'Cormorant Unicase';
}

#logo h1 i {
    font-size: 2.8rem;
}

#search {
    width: 450px;
    height: 40px;
    display: flex;
    flex-direction: row;
}

#search input {
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

#search i {
    background-color: #ddd2d2;
    color: #e6897e;
    font-size: 1.5rem;
    width: 50px;
    height: 100%;
    padding-top: 8px;
    padding-left: 11px;
}

#login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
}

#login i.fa-shopping-bag {
    margin-right: 5rem;
    font-size: 2rem;
    color: #fff;
}

#login h3 {
    color: white;
}

#login h3 i {
    margin-right: 8px;
    font-size: 1.5rem;
}

#nav-bar {
    width: 100%;
}

#nav-bar ul {
    width: 90%;
    margin: 15px auto;
    display: flex;
    padding: 10px;
}

#nav-bar ul li {
    list-style: none;
    margin: 0px 35px 0px 40px;
}

#nav-bar ul li::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    background-color: #cc746b;
    transition: all 0.5s;
}

#nav-bar ul li a {
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
    color: rgb(43, 65, 129);
    transition: 0.5s;
    font-weight: 600;
}

#nav-bar ul li:hover a {
    color: #cc746b;
}

#nav-bar ul li:hover::after {
    width: 100%;
}


/* Header Carousel*/

header {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

header .carousel,
.carousel .slide {
    width: 100%;
    height: 100%;
}

.carousel .slide {
    position: relative;
    overflow: hidden;
}

.carousel .slide img {
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

.carousel .slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel .slide .content {
    position: absolute;
    top: 150px;
    left: 28%;
    color: white;
    text-align: center;
}

.carousel .slide .content h1 {
    margin-bottom: 20px;
    font-size: 2.7rem;
}

header .fas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 2rem;
    color: white;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 12px;
}

header .prev {
    left: 2%;
}

header .next {
    right: 2%;
}

header .fas:hover {
    cursor: pointer;
    color: #cc746b;
    background-color: white;
}